body {
    background-image: url("/images/classroom.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.space-top {
    padding-top: 70px;
}

.data-point {
    font-size: 7rem;
    font-weight: bold;
    font-family: "arial black", helvetica, arial, sans-serif;
    letter-spacing: -5px;
    
    text-shadow: 3px 3px 8px rgba(255,255,255,0.45);
}